.vdr {
  touch-action: none;
  position: absolute;
  box-sizing: border-box;
  border: 1px dashed black;
}
.handle {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #EEE;
  border: 1px solid #333;
  z-index: 1;
}
.handle-tl {
  top: -7px;
  left: -7px;
  cursor: nw-resize;
}
.handle-tm {
  top: -7px;
  left: 50%;
  margin-left: -7px;
  cursor: n-resize;
}
.handle-tr {
  top: -7px;
  right: -7px;
  cursor: ne-resize;
}
.handle-ml {
  top: 50%;
  margin-top: -7px;
  left: -7px;
  cursor: w-resize;
}
.handle-mr {
  top: 50%;
  margin-top: -7px;
  right: -7px;
  cursor: e-resize;
}
.handle-bl {
  bottom: -7px;
  left: -7px;
  cursor: sw-resize;
}
.handle-bm {
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
  cursor: s-resize;
}
.handle-br {
  bottom: -7px;
  right: -7px;
  cursor: se-resize;
}
.handle-rotate {
  bottom: -40px;
  left: 50%;
  margin-left: -7px;
  cursor: ew-resize;
}
.handle-rotate-stick {
  left: 50%;
  bottom: -40px;
  box-sizing: border-box;
  position: absolute;
  font-size: 1px;
  border: 1px dashed black;
  width: 0px;
  height: 40px;
}
@media only screen and (max-width: 768px) {
  [class*="handle-"]:before {
    content: '';
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    position: absolute;
  }
}
