name: Component Tests

on:
  push:
    branches:
      - master
    pull_request:
    workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          component: true
          browser: chrome
