*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #ccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.page {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 20px #4c4c4c;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 66em;
}

header h1 {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 38px;
}

header img {
  display: block;
  margin: 0 auto;
  width: 260px;
  max-width: 100%;
}

header p {
  text-align: center;
  line-height: 1.45;
  margin: 1em 0;
}

pre {
  white-space: pre-wrap;
  background: #e2e2e2
}

.section-title {
  font-size: 2rem;
}

.section-title a {
  color: inherit;
  text-decoration: none;
}

.section-description {
  background-color: #ccc;
  padding: 2em 1em;
}

.section-description h2 {
  color: #003345;
}

.section-description p {
  color: #003345;
  line-height: 1.45;
  margin: 1em 0;
}

.section-description a {
  color: #007593;
}

.section-description code {
  background-color: rgba(255, 255, 255, .75);
  border-radius: 3px;
  padding: 0 .25em;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  background: #41B883;
  padding: 8px;
  border: solid #35495E 1px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #35996C;
  text-decoration: none;
}

footer {
  color: #888;
  display: block;
  margin: 2em 0;
  text-align: center;
}

footer a {
  color: #888;
}

footer a:hover {
  color: #444;
}

.vdr.resizing,
.vdr.dragging {
  opacity: 0.6;
}